{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Forgot Password</title>
</head>
<body>
    <h1>Admin Forgot Password</h1>
    <form method="POST" action="/forget_password_sms">
        {{ form.hidden_tag() }}
        <label for="phone">Enter Phone Number:</label>
        <input type="text" id="phone" name="phone" required>
        <button type="submit">Send Reset Code via SMS</button>
    </form>
</body>
</html>

{% endblock %}