<!-- templates/user_home.html -->
<!-- should be changed to something meaningful -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>
    <!-- Add any additional styles you may need -->
</head>
<body>

    <div class="container mt-4">
        <h1>Welcome to Your Home Page!</h1>
        <p>This is a simple home page for the logged-in user.</p>
        <p>Choose your login option:</p>
        <ul>
            <li><a href="{{ url_for('choose_login', role='user') }}">User Login</a></li>
            <li><a href="{{ url_for('choose_login', role='admin') }}">Admin Login</a></li>
        </ul>
    </div>

</body>
</html>


